
:root {
	--white: #ffffff;
	--white-soft: #f8f8f8;
	--white-mute: #f2f2f2;
	--white-bg: #f8fafc;

	--black: #181818;
	--black-soft: #222222;
	--black-mute: #282828;

	--primary-color: #00AD3A;
	--secondary-color: #35BD00;
	--normal-app-name-size: 1.7rem;
	--bold: 'bold';

	--normal-text: #64748b;
}

:root {
	--color-background: var(--white);
	--color-background-soft: var(--white-soft);
	--color-background-mute: var(--white-mute);

	--color-text: var(var(--normal-text));
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--black);
		--color-background-soft: var(--black-soft);
		--color-background-mute: var(--black-mute);
	}
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: var(--color-text);
	background: var(--color-background-bg);
	transition:
		color 0.5s,
		background-color 0.5s;
	line-height: 1.6;
	font-family:
		Inter,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
